.todo-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.todo-list h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem;
    padding: 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.todo-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}
.todo-input button {
    color: #fff;
    border: none;
    background-color: rgba(0, 0, 0, .2);
    height: 45px;
    border-radius: 5px;
    width: 100px;
    margin-left: 1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.todo-input button:hover {
    background-color: rgba(0, 0, 0, .3);
}
input[type=text],
input[type=text]:focus{
    color: #fff;
    border: none;
    background-color: rgba(0, 0, 0, .2);
    height: 45px;
    border-radius: 5px;
    width: 250px;
    padding: 20px;
}
.category-input {
    margin-left: 20px;
}
.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #423a6f;
    width: 500px;
    min-height: 80px;
    /*overflow-y: scroll;*/
}
.todo-item p {
    width: 80%;
    text-align: left;
}
.category {
    font-weight: 400;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: darkseagreen;
    border-radius: 5px;
}

/*styles for mobile devices*/
@media screen and (max-width: 600px) {
    .todo-item {
        width: 100%;
    }
    input[type=text], input[type=text]:focus {
        width: 80%;
        margin-top: 20px;
    }
    .todo-input button {
        width: 80%;
        margin-left: 0;
        margin-top: 20px;
    }
    .category-input {
        margin-left: 0;
        margin-bottom: 20px;
    }
    .todo-item-list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .todo-item {
        width: 300px;
        min-height: 80px;
    }
    .todo-input {
        flex-direction: column;
    }
}
