.todo-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.todo-list h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem;
    padding: 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.todo-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}
.todo-input button {
    color: #fff;
    border: none;
    background-color: rgba(0, 0, 0, .2);
    height: 45px;
    border-radius: 5px;
    width: 100px;
    margin-left: 1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.todo-input button:hover {
    background-color: rgba(0, 0, 0, .3);
}
input[type=text],
input[type=text]:focus{
    color: #fff;
    border: none;
    background-color: rgba(0, 0, 0, .2);
    height: 45px;
    border-radius: 5px;
    width: 250px;
    padding: 20px;
}
.category-input {
    margin-left: 20px;
}
.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #423a6f;
    width: 500px;
    height: 40px;
    overflow-y: scroll;
}